secret.properties

*.iml
*.ipr
*.iws
.idea
out

build
.classpath
.project
.settings
org.scala-ide.sdt.core
org.scala-ide.sdt.update-site

.DS_Store

tags
.*.swp
.*.swo

app
dist
target/.history
target/streams
target/test-reports
target/scala-2.12/classes
target/scala-2.12/resolution-cache
target/scala-2.12/test-classes
lib_managed
src_managed
project/boot
project/target
project/plugins/project
project/project
.history
.cache
.lib

*.class
*.log
 target/
desktop/target/
desktop/project/target
